{% extends 'Trade/base.html' %}
{% load static %}


{% block body %}
  <div class="container">
    <div class="row align-items-center justify-content-center text-start my-5">
            <div class="col-md-12 text-center">
                <form action="{% url 'search_listing' %}" method="get">
                    {% csrf_token %}
                    <div class="input-group mb-3 text-center">
                        <input type="text" class="form-control" placeholder="Search listings" aria-label="" aria-describedby="" name="search_term">
                        <button class="btn btn-primary" type="submit"> <i class="fa-sharp fa-solid fa-magnifying-glass"></i> Search</button>
                    </div>
                </form>
            </div>
        </div>


<div class=" row align-items-center justify-content-center text-start my-5">
{% for listings in listings %}
    <div class="col-6 h-100">
        <div class="card mb-3">
            <img style="width: 634px" src="{{ listings.image.url }}" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">Title: {{ listings.title }}</h5>
                <p class="card-text">Description: {{listings.description }}</p>
                <p class="card-text"><small class="text-muted">Posted: {{listings.created_at}}</small></p>
                <p class="card-text"><small class="text-muted">Listed By: {{listings.user}}</small></p>
                <p class="card-text"><small class="text-muted">Location: {{listings.location}}</small></p>

                     {% if listings.type == 'Online' %}
                         <div class="mb-3">
                         <form action="{% url 'buy_item'%}" method="post">
                                    {% csrf_token %}
                        <button type="submit" class="btn btn-success">Buy Now</button>
                    </form>
                         </div>
                         <p class="lead fw-bold">Price: ${{ listings.price }}</p>
                         {% else %}
                         <div class="mb-3">
                     <button type="button" class="btn btn-success" disabled>Buy Now</button>
                         </div>
                         <p class="lead fw-bold">Price: ${{ listings.price }}</p>
                     {%endif%}
                    <p class="card-text"><small class="lead">Send A Message to, {{ listings.user }}</small></p>
            <form action="{% url 'comment'%}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-dark">Send Message</button>
                    </form>
            </div>

        </div>
    </div>

    {% empty %}
    <h1>No Search Results found</h1>

{% endfor %}
    </div>
    </div>
{% endblock %}
